#footer_teasers_wrapper {
  padding: 55px 0;
}
#footer_teasers_wrapper .footer_teaser h3 {
  font-size: 16px;
  line-height: 18px;
  padding: 0 0 12px 0;
  margin: 20px 0 20px 0;
  border-bottom: solid 0px #000;
  color: #000;
  font-weight: 800;
  text-transform: uppercase;
}
#footer_teasers_wrapper .footer_teaser p {
  font-size: 13px;
  color: #000;
  font-weight: 300;
}

copyright {
  border-top: solid 1px #000;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
  color: #000;
  font-size: 13px;
}

/* =Pricing Tables
------------------ */
.pricing_wrapper {
  padding: 40px 0;
  transition: all 700ms linear;
}
.pricing_plan {
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 6px;
  text-align: center;
  border: solid 1px #e7e7e7;
  margin-bottom: 20px;
}
.pricing_plan.special {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  position: relative;
  left: 0px;
  top: 0px;
}
.pricing_plan:hover {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}
.pricing_plan h3 {
  background-color: #ffffff;
  padding: 30px 5px;
  margin: 0 0 30px 0;
  color: #428bca;
  font-size: 30px;
  line-height: 1.6em;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  border-bottom: solid 1px #cccccc;
}
.pricing_plan h3 small {
  display: block;
  font-size: 14px;
}
.pricing_plan .plan_photo {
  padding: 20px 40px;
  box-sizing: border-box;
}
.pricing_plan .plan_photo img {
  border-radius: 50%;
  max-width: 100%;
}
.pricing_plan .the_price {
  padding: 15px;
  font-size: 50px;
  font-weight: 700;
  margin: 0px auto 30px auto;
  width: 60%;
  color: #5cb85c;
  text-shadow: 1px 1px 0px #ffffff;
  border-bottom: dashed 1px #cccccc;
}
.pricing_plan .the_price span {
  font-size: 30px;
}
.pricing_plan .the_price small {
  font-size: 14px;
}
.pricing_plan .the_offerings {
  padding: 0 30px;
  color: #555555;
}
.pricing_plan .the_offerings p {
  color: #999999;
  margin-bottom: 10px;
}
.pricing_plan .the_offerings ul {
  list-style: none;
  margin: 0px 0;
  padding: 0;
}
.pricing_plan .the_offerings ul li {
  margin: 0;
  padding: 5px;
  display: block;
}
.pricing_plan a.btn {
  margin: 30px;
  border-radius: 30px;
}

/* =Service Page elements
-------------------------------------------------------------- */
.service_teaser {
  border-radius: 6px 0 0 6px;
  overflow: hidden;
  margin: 0 0 60px 0px;
  background-color: #ffffff;
}
.service_teaser .service_photo figure {
  border-radius: 6px 0 0 6px;
  min-height: 200px;
  background-position: center center;
  background-repeat: no-repeat;
  background: no-repeat center center;
  background-size: cover;
  border-right: solid 1px #cccccc;
  margin: 0;
}
.service_teaser .service_details {
  background-color: #ffffff;
  min-height: 200px;
  padding: 0 20px;
}
.service_teaser .service_details p {
  font-weight: 300;
}
.service_teaser.right {
  border-radius: 0 6px 6px 0;
  text-align: right !important;
}
.service_teaser.right h2 {
  text-align: right !important;
}
.service_teaser.right .service_photo figure {
  border-radius: 0 6px 6px 0;
  border-right: solid 0px #cccccc;
  border-left: solid 1px #cccccc;
}
.service_teaser.inverted {
  border-radius: 6px 6px 6px 6px;
  color: #ffffff;
  background: #000000;
  background: rgba(0, 0, 0, 0.8);
  color: #cccccc;
}
.service_teaser.inverted .service_details {
  background-color: transparent;
}
.service_teaser.inverted .service_details h2 {
  color: #cccccc;
}
.service_teaser.inverted .service_details h2 small {
  color: #cccccc;
}
.service_teaser.inverted .service_details p {
  font-weight: 300;
}
.service_teaser.elegant {
  border-radius: 6px 6px 6px 6px;
  background-color: #ffffff;
}
.service_teaser.elegant .service_details {
  background-color: #ffffff;
  padding-right: 160px;
}
.service_teaser.elegant .service_details p {
  font-weight: 300;
}
.service_teaser.elegant .service_photo figure {
  border-radius: 50%;
  margin: 0 40px 0 120px;
}
.service_teaser.vertical {
  border-radius: 6px 6px 6px 6px;
  border: solid 1px #e7e7e7;
  background-color: #ffffff;
  margin: 0 0 20px 0px;
}
.service_teaser.vertical h2 {
  text-align: left;
}
.service_teaser.vertical h2 small {
  padding: 0;
  display: block;
  padding: 10px 0;
}
.service_teaser.vertical .service_photo figure {
  border-radius: 6px 6px 0 0;
  min-height: 229px;
  border-right: none 0px #cccccc;
  border-left: none 0px #cccccc;
}
.service_teaser.vertical .service_details {
  background-color: #ffffff;
  height: auto;
  padding: 0 20px 20px 20px;
}
.service_teaser.vertical .service_details p {
  font-weight: 300;
  margin-bottom: 20px;
}
.service_teaser.vertical.elegant {
  border: solid 0px #e7e7e7;
}
.service_teaser.vertical.elegant .service_photo figure {
  border-radius: 50%;
  margin: 0 40px 0 100px;
}
